{% extends 'base.html.twig' %}

{% block body %}

<div class="box">
        <div class="box-header">
            <h3 class="box-title">Profiles</h3>
        </div>
            <!-- /.box-header -->
        <div class="box-body">
            <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">
                <div class="col-sm-6">
                    <div class="dataTables_length" id="example1_length">
                        <a href="{{ path('profile_new') }}" class="btn btn-info">Create a new profile</a>
                    </div>
                </div>
                <div class="col-sm-12">
                    <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                <thead>
                <tr role="row">
                    <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 231.033px;" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Id</th>
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 282.933px;" aria-label="Browser: activate to sort column ascending">Name</th>
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 250.867px;" aria-label="Platform(s): activate to sort column ascending">Email</th>
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 198.633px;" aria-label="Engine version: activate to sort column ascending">Education</th>
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 198.633px;" aria-label="Engine version: activate to sort column ascending">Location</th>
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 143.533px;" aria-label="CSS grade: activate to sort column ascending">Action</th>
                </tr>
                </thead>
                    <tbody>
        {% for profile in profiles %}
            <tr  role="row" class="odd">
                <td><a href="{{ path('profile_show', { 'id': profile.id }) }}">{{ profile.id }}</a></td>
                <td>{{ profile.name }}</td>
                <td>{{ profile.email }}</td>
                <td>{{ profile.education }}</td>
                <td>{{ profile.location }}</td>
                                    <td>
                                        <div class="btn-group">
                                          <a class="btn btn-success" href="{{ path('profile_show', { 'id': profile.id }) }}"><i class="fa fa-eye"></i></a>
                                          <a class="btn btn-success" href="{{ path('profile_edit', { 'id': profile.id }) }}"><i class="fa fa-edit"></i></a>
                                           <a class="btn btn-danger" href="{{ path('profile_delete', { 'id': profile.id }) }}"><i class="fa fa-trash"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                    </tbody>

                    <tfoot>
                    <tr>
                        <th rowspan="1" colspan="1">Id</th>
                        <th rowspan="1" colspan="1">Name</th>
                        <th rowspan="1" colspan="1">Email</th>
                        <th rowspan="1" colspan="1">Education</th>
                        <th rowspan="1" colspan="1">Location</th>
                        <th rowspan="1" colspan="1">Action</th>
                    </tr>
                    </tfoot>
                  </table>
          </div>
      </div>

    </div>
    <!-- /.box-body -->
</div>
{% endblock %}
